* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.head-nav {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    padding: 20px 20px;
}

.logo a {
    display: block;
    background: url("images/logo.png") center center no-repeat;
    background-size: contain;
    width: 177px;
    height: 40px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list li {
    padding: 0 30px 0 0;
    font-size: 15px;
    font-weight: 600;
}

.nav-list li a {
    color: black;
}

.sub-icon {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex: 1;
    line-height: 40px;
    padding: 0 20px 0 20px;
}

.sub-icon>.icon {
    padding: 8px;
}

.sub-icon i {
    font-size: 20px;
}

.hero-banner {
    height: 700px;
    background-image: url("images/banner_img.jpg");
    background-size: cover;
    background-position: center center;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

.container {
    width: 1370px;
    /* height: 450px; */
    margin: 0 auto;
}
.inner {
    width: 1300px;
    margin: 0 auto;
}

.hero-banner h4 {
    font-size: 20px;
}

.hero-banner h1 {
    font-size: 50px;
}

.info-text {
    padding-top: 50px;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.banner-text {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.banner-content>.brand-box {
    font-size: 22px;
    height: 115px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 100px;
    height: 40px;
    background-color: #2979ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #fff;
}

.sub-banner {
    background-color: #fff;
    padding: 30px 40px;
    margin-top: -130px;
    box-shadow: 0 0 20px #0000002e;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sub-banner .banner-header {
    margin-right: -15px;
    margin-left: 15px;
    width: 100%;
    height: 100px;
}

.sub-banner .banner-header>.why-row {
    width: 100%;
    height: 70%;
    border-bottom: 1px solid #E9E9E9;
    font-size: 25px;
    font-weight: 600;
}

.row-slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row-slider .sub-banner-box {
    width: 80%;
    font-size: 15px;
    text-align: center;
}

.sub-banner-box .banner-box-title {
    text-align: center;
    display: flex;
    justify-content: center;
}

.banner-box-title h3 {
    padding: 18px 0 0 20px;
}

.banner-box-title>i {
    font-size: 40px;
}

.sub-banner-box .banner-box-content {
    padding: 20px 0 20px 0;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    justify-content: space-around;
}

.slot {
    width: 100%;
    height: 100%;
    margin: 30px 0 30px 0;
}

.slot-box {
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.slot-img {
    background-image: url("images/bg1.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.slot-box:last-child>.slot-img {
    background-image: url("images/bg2.jpg")
}

.slot-box-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    color: #fff;
}

.slot-box-content>i {
    font-size: 30px;
}

.slot-box-content>p {
    font-size: 15px;
}

.slot-box-content>h3 {
    font-size: 30px;
}

.slot-box-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.item-shop-title {
    text-align: center;
    margin: 35px 0 35px 0;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.1;
    color: #111111;
}

.item-shop-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.item-boxs {
    margin: 100px 0 100px 0;
}

.item-box {
    width: 320px;
    height: 400px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 20px #ebebeb;
    transition: box-shadow 0.2s ease-in-out;
}

.item-img {
    background-image: url("images/item1.png");
    background-size: cover;
    background-position: center center;
    width: 95%;
    height: 70%;
}

.item-box:nth-child(2)>.item-img {
    background-image: url("images/item2.png");
}

.item-box:nth-child(3)>.item-img {
    background-image: url("images/item3.png");
}

.item-box:nth-child(4)>.item-img {
    background-image: url("images/item4.png");
}

.had-hero {
    height: 400px;
    background-image: url("images/had_bg.jpg");
    background-size: cover;
    background-position: center center;
    margin-top: 130px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.had-content {
    width: 30%;
    height: 30%;
}

.dirver-boxs {
    margin: 100px 0 100px;
}

.driver-shop-title {
    text-align: center;
    margin: 35px 0 35px 0;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.1;
    color: #111111;
}

.driver-shop-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.driver-box {
    width: 320px;
    height: 400px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 20px #ebebeb;
    transition: box-shadow 0.2s ease-in-out;
}

.driver-img {
    background-image: url("images/driver1.png");
    background-size: cover;
    background-position: center center;
    width: 95%;
    height: 70%;
}

.driver-box:nth-child(2)>.driver-img {
    background-image: url("images/driver2.png");
}

.driver-box:nth-child(3)>.driver-img {
    background-image: url("images/driver3.png");
}

.driver-box:nth-child(4)>.driver-img {
    background-image: url("images/iron.png");
}

.item-name {
    margin: 10px 0 10px 0;
    font-weight: 600;
}

.grade {
    color: #777;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.grade .fa {
    font-size: 12px;
}

.grade .checked {
    color: orange;
}

.driver-box>p {
    margin: 10px 0 10px 0;
    font-size: 15px;
}

.bottom-banner-content {
    background-image: url("images/bottom-banner.jpg");
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-box .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-box h1 {
    font-size: 3rem;
    color: #fff;
    letter-spacing: 5px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 30px;
}

.content-box p {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.category {
    text-align: center;
}

.cate-title {
    font-size: 32px;
    font-family: barlow condensed;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
    margin-top: 60px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
}

.cate-content {
    text-align: center;
    margin-bottom: 50px;
    padding: 0 15px;
    color: #6c6c6c;
}

.service {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    height: 1000px;
    grid-gap: 40px;
}

.service-box {
    background-image: url("images/service1.jpg");
    background-size: cover;
    background-position: center center;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    position: relative;
    text-transform: uppercase;
}

.service-box:nth-child(2) {
    background-image: url("images/service2.jpg");
}

.service-box:nth-child(3) {
    background-image: url("images/service3.jpg");
}

.service-box:nth-child(4) {
    background-image: url("images/service4.jpg");
}

.service-text img {
    width: 60px; height: 60px;
    margin: 0 auto 20px;
}

.service-text {
    font-family: 'Barlow Condensed',sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    letter-spacing: 4px;
}

.service-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.service-text span {
    font-family: 'Barlow Condensed',sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 0 20px;
}

#footer {
    padding-top: 100px;
    color: #fff;
}

.footer-contact {
    background-color: #111111;
    height: 80px;
    border-bottom: 1px solid #333333;
}

.inner {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.footer-inner-space {
    width: 50%;
    height: 100%;
}

.footer-inner-social {
    width: 50%;
    height: 100%;
    /* padding: 20px 0; */
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 80px;
}

.footer-inner-social p {
    padding-right: 20px;
    font-size: 18px;
}

.social-icon a{
    margin-left: 30px;
    color: #fff;
    font-size: 25px;
}

.social-title {
    padding-right: 20px;
}

.footer-link {
    background-color: #111111;
    height: 500px;
    border-bottom: 1px solid #333333;
}

.footer-end {
    background-color: #111111;
    height: 90px;
}

